.places {
  @include wrapper;

  margin-bottom: 34px;

  @include tablet {
    margin-bottom: 98px;
  }
}

.places__title {
  @include main-title;

  position: relative;
  width: 358px;

  letter-spacing: -1.25px;
  margin-bottom: 64px;

  @include tablet {
    text-align: center;
    width: 100%;
    letter-spacing: 0;
    margin-bottom: 21px;
  }

  &::after {
    @include orange-line;

    top: 188px;

    @include tablet {
      display: none;
    }
  }
}

.places__text {
  width: 325px;
  color: $grey-border;

  @include tablet {
    width: 343px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.places__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.places__item {
  position: relative;
  height: 430px;
  margin-top: 38px;
  margin-bottom: 63px;
  margin-right: 60px;

  @include desktop {
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child:nth-child(3n-1) {
      margin-left: 60px;
      margin-right: 0;
    }

    &:last-child:nth-child(3n-2) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @include tablet {
    height: 425px;
    margin-top: 22px;
    margin-bottom: 0;
    margin-right: 29px;

    &:nth-child(even),
    &:last-child  {
      margin-right: 0;
    }

    &:last-child {
      margin-top: 29px;
    }

    & img {
      width: 288px;
      height: 425px;
    }
  }
}

.places__button {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 215px;
  height: 61px;
  color: $basic-black;
  background-color: $white;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: -0.4px;
  font-size: 24px;
  line-height: 61px;
  text-align: center;
}
