.promo {
  position: relative;
  height: 100%;
}

.promo__image {
  margin-bottom: 192px;

  @include tablet {
    height: 344px;
    width: 100%;
    margin-bottom: 71px;
  }
}

.promo__wrapper {
  position: absolute;
  top: 185px;
  right: 375px;
  padding-right: 43px;
  display: flex;
  flex-direction: column;
  width: 412px;

  @include tablet {
    align-items: center;
    right: 50%;
    transform: translateX(50%);
    padding-right: 0;
    top: 60px;
  }
}

.promo__title {
  @include main-title;

  letter-spacing: -1px;
  margin-bottom: 30px;
  color: $white;

  @include tablet {
    letter-spacing: 0;
    margin-bottom: 15px;
  }
}

.promo__text {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 33px;
  line-height: 27px;
  color: $white;

  @include tablet {
    text-align: center;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.promo__button {
  @include button;

  justify-content: left;
  padding-left: 40px;
  width: 300px;
}
