@mixin phone {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wrapper {
  position: relative;
  max-width: 1170px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    max-width: 726px;
    padding-left: 0;
  }
}

@mixin main-title {
  color: $basic-dark;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  margin: 0;
  padding: 0;

  @include tablet {
    font-size: 30px;
    line-height: 45px;
  }
}

@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: $white;
  background-color:$basic-accent;
  font-size: 12px;
  line-height: 15px;
  width: 340px;
  height: 75px;

  &:hover,
  &:focus {
    background-color: $basic-active;
  }

  @include tablet {
    width: 210px;
    height: 50px;
    font-size: 10px;
    line-height: 12px;
  }
}

@mixin orange-line {
  position: absolute;
  content: "";
  height: 4px;
  width: 228px;
  top: 0;
  left: 0;
  background-color: $basic-accent;
}

@mixin phone {
  text-decoration: none;
  font-size: 18px;
  color: $basic-black;
  font-weight: 400;
  margin-left: 35px;
  margin-right: 7px;
}
