// fonts

$montserrat: "Montserrat", courier new, serif;

// colors

$white: #ffffff;
$black: #000000;
$basic-dark: #2C2E3F;
$basic-black: #141517;
$basic-accent: #FE7865;
$basic-active: #F17D4B;
$grey-border: rgba(44, 46, 63, 0.3);
$grey-border-2: #D7D9DF;
$grey-text: rgba(20, 21, 23, 0.7);
$grey-shadow: rgba(41, 54, 66, 0.1);
